<!DOCTYPE html>
<html lang="en">
<head>
    <title>Failed Page</title>

<style>
   

    /* Styles for the container */
    #container {
        max-width: 600px; /* Sets the maximum width of the container to 600 pixels */
        margin: 0 auto;/* Centers the container horizontally*/
        padding: 20px;/* Adds 20 pixels of padding around the container */
        background-color: #f1f1f1; /* Sets the background color of the container to a light gray */
        display: flex;/* flexbox layout for the container */
        flex-direction: column; /* Sets the flex direction to column, arranging the contents vertically */
        justify-content: center;  /* Centers the contents vertically within the container */
        align-items: center;/* Centers the contents horizontally within the container */
        height: 600px;/* Sets the height of the container to 600 pixels */
    }
 

    p{
        font-size: 25px;/* Sets the font size of paragraphs to 25 pixels */
    }


    #page {
        background-color: lightblue;
    }
</style>

</head>
<body>
    <div id = page> <!--Id for styles-->
        <div id =container><!--Id for styles-->
        <h1>Something went wrong!</h1> <!-- Displays a heading indicating that something went wrong -->
        <img src="/image/8.jpg" width="200">
        <p>The password is incorrect</p> <!-- Displays a paragraph informing the user that the password is incorrect -->
         <p><a href="./">Go back to login page</a></p><!-- Displays a paragraph with a hyperlink to go back to the login page -->
         </div>
</div>
</body>